# Git
.git
.gitignore

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE files
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.springBeans
.sts4-cache/
.apt_generated/
.factorypath
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db

# Application specific
src/main/resources/.env
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Documentation
README.md
HELP.md
LICENSE

# Test reports
surefire-reports/
test-output/